<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Parallel Suite" parallel="classes" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="utils.TestListener"/>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>

    <test name="Auth Tests" parallel="false">
        <groups>
            <run>
                <include name="auth"/>
            </run>
        </groups>
        <classes>
            <class name="tests.HttpAuthenticationTest"/>
        </classes>
    </test>

</suite>